[submodule "bundle/javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-surround.git"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/vim-haml"]
	path = bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-rooter"]
	path = bundle/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "bundle/color-jellybeans"]
	path = bundle/color-jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "bundle/color-github"]
	path = bundle/color-github
	url = https://github.com/endel/vim-github-colorscheme.git
[submodule "bundle/color-solarized"]
	path = bundle/color-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/color-vividchalk"]
	path = bundle/color-vividchalk
	url = https://github.com/tpope/vim-vividchalk
[submodule "bundle/a.vim"]
	path = bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/webapi-vim"]
	path = bundle/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule "bundle/color-railscasts"]
	path = bundle/color-railscasts
	url = https://github.com/jpo/vim-railscasts-theme.git
[submodule "bundle/color-lucius"]
	path = bundle/color-lucius
	url = https://github.com/vim-scripts/Lucius.git
[submodule "bundle/color-sexy-railscasts"]
	path = bundle/color-sexy-railscasts
	url = https://github.com/bullfight/sexy-railscasts-theme.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/ctrlp-filetype"]
	path = bundle/ctrlp-filetype
	url = https://github.com/endel/ctrlp-filetype.vim.git
[submodule "bundle/AutoTag"]
	path = bundle/AutoTag
	url = https://github.com/vim-scripts/AutoTag.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/color-tomorrow-theme"]
	path = bundle/color-tomorrow-theme
	url = https://github.com/chriskempson/vim-tomorrow-theme.git
[submodule "bundle/php"]
	path = bundle/php
	url = https://github.com/StanAngeloff/php.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-rvm"]
	path = bundle/vim-rvm
	url = https://github.com/tpope/vim-rvm.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/mustache"]
	path = bundle/mustache
	url = https://github.com/mustache/vim-mode.git
[submodule "bundle/gvimfullscreen_win32"]
	path = bundle/gvimfullscreen_win32
	url = https://github.com/derekmcloughlin/gvimfullscreen_win32.git
[submodule "support/consolas-powerline-vim"]
	path = support/consolas-powerline-vim
	url = https://github.com/eugeneching/consolas-powerline-vim.git
[submodule "bundle/vim-stylus"]
	path = bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "bundle/vim-blade"]
	path = bundle/vim-blade
	url = https://github.com/xsbeats/vim-blade.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/ag.vim"]
	path = bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "bundle/editorconfig"]
	path = bundle/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "bundle/vim-colors-pencil"]
	path = bundle/vim-colors-pencil
	url = https://github.com/reedes/vim-colors-pencil.git
[submodule "bundle/vim-thematic"]
	path = bundle/vim-thematic
	url = https://github.com/reedes/vim-thematic.git
[submodule "bundle/vim-pairs"]
	path = bundle/vim-pairs
	url = https://github.com/kurkale6ka/vim-pairs.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vaxe"]
	path = bundle/vaxe
	url = https://github.com/jdonaldson/vaxe.git
[submodule "bundle/pdv"]
	path = bundle/pdv
	url = https://github.com/tobyS/pdv.git
[submodule "bundle/vmustache"]
	path = bundle/vmustache
	url = https://github.com/tobyS/vmustache.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/vdebug"]
	path = bundle/vdebug
	url = https://github.com/joonty/vdebug.git
[submodule "bundle/vim-csharp"]
	path = bundle/vim-csharp
	url = https://github.com/OrangeT/vim-csharp.git
[submodule "bundle/rust.vim"]
	path = bundle/rust.vim
	url = https://github.com/wting/rust.vim.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
